<h1>Welcome to {{ hotelName }}</h1>

<div [hidden]="hideRooms">
    Number of Rooms:
    <div [ngStyle]="{ color: roomInfo.availableRooms ? 'green' : 'red' }">
        {{ roomInfo.availableRooms == 0 ? "No rooms" : roomInfo.availableRooms }}
    </div>
</div>

<!-- {{ rooms | json }} -->

<div *ngIf="roomInfo.availableRooms > 0">
    Rooms List:
    <hinv-rooms-list [rooms]="rooms" (selectedRoom)="selectRoom($event)"></hinv-rooms-list>
</div>

<button class="btn btn-primary" (click)="toggle()">Toggle</button>